body {
    margin: 0;
    font-family: Arial, sans-serif;
}



/* Główna treść */
main {
    padding: 20px;
}

main h1 {
    font-size: 24px;
}

main p {
    font-size: 18px;
}

main a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main a:hover {
    background-color: #218838;
}

/* Stopka */
footer {
    background-color: #2e8b57;
    color: #fffff0;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
