body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo {
    max-height: 50px;
}

header nav {
    display: flex;
    align-items: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header ul li {
    display: inline;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

header ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Styl dla kontenera logowania */
header .login-container {
    display: flex;
    align-items: center;
}

header .login-container a {
    display: inline-block;
    text-decoration: none;
}

header .login-icon {
    max-height: 40px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
}

/* Główna treść */
main {
    padding: 20px;
}

main h1 {
    font-size: 24px;
}

main p {
    font-size: 18px;
}

main a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main a:hover {
    background-color: #218838;
}

/* Stopka */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
