<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kategorie i Hobby</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const accordions = document.querySelectorAll(".accordion");
            accordions.forEach(acc => {
                acc.addEventListener("click", function () {
                    this.classList.toggle("active");
                    const panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('categories') }}">Kategorie</a></li>
                <li><a href="{{ url_for('single_question', question_id=1) }}">Quiz</a></li>
                <li><a href="{{ url_for('about') }}">O aplikacji</a></li>
            </ul>
        </nav>
        <div class="login-container">
            <a href="{{ url_for('login') }}">
                <img src="{{ url_for('static', filename='images/login.webp') }}" alt="Zaloguj się" class="login-icon">
            </a>
        </div>
    </header>
    <h1>Kategorie i Hobby</h1>
    {% for category in categories %}
    <button class="accordion">{{ category.category }}</button>
    <div class="panel">
        <ul>
            {% for hobby in category.hobbies %}
            <li>
                <a href="{{ url_for('hobby_detail', name=hobby.hobby) }}">{{ hobby.hobby }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('chat_room', room_id=category.category_id) }}" class="chat-button">Dołącz do czatu</a>
    </div>
    {% endfor %}
</body>
</html>
