<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kategorie i Hobby</title>
</head>
<body>
    <h1>Kategorie i Hobby</h1>
    {% for category in categories %}
    <div class="category">
        <h2>{{ category.category }}</h2>
        <ul class="hobby-list">
            {% for hobby in category.hobbies %}
            <li>
                <a href="{{ url_for('hobby_detail', name=hobby.hobby) }}">{{ hobby.hobby }}</a>
            </li>
            {% endfor %}
            <a href="{{ url_for('chat_room', room_id=category.category_id) }}" 
            class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
             Dołącz do czatu
         </a>
        </ul>       
    </div>
    {% endfor %}
    
    <!-- Przycisk powrotu do strony głównej -->
    <div>
        <a href="{{ url_for('index') }}">
            <button>Powrót do strony głównej</button>
        </a>
    </div>
</body>
</html>
