<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Odkryj Swoje Hobby</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header z logo po lewej i nawigacją po prawej -->
    <header>
        <div class="logo-container">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('categories') }}">Kategorie</a></li>
                <li><a href="{{ url_for('single_question', question_id=1) }}">Quiz</a></li>
                <li><a href="{{ url_for('about') }}">O aplikacji</a></li>
            </ul>
        </nav>
        <div class="login-container">
            <a href="{{ url_for('login') }}">
                <img src="{{ url_for('static', filename='images/login.webp') }}" alt="Zaloguj się" class="login-icon">
            </a>
        </div>
    </header>
    
    <!-- Zawartość strony -->
    
    {% if current_user.is_authenticated %}
        <h1>Witaj, {{ current_user.name }}!</h1>
        
        {% if recommended_hobbies %}
            <h2>Polecane hobby:</h2>
            <div class="recommended-hobbies">
                {% for hobby in recommended_hobbies %}
                <div class="hobby-item">
                    <h3>
                        <a href="{{ url_for('hobby_detail', name=hobby.hobby) }}">
                            {{ hobby.hobby }}
                        </a>
                    </h3>
                    <p>{{ hobby.description }}</p>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aby uzyskać spersonalizowane rekomendacje hobby, przejdź do quizu!</p>
            <a href="{{ url_for('single_question', question_id=1) }}" class="btn">Rozpocznij quiz</a>
        {% endif %}
    {% else %}
        <h1>Odkryj swoje idealne hobby!</h1>
        <p>Zaloguj się lub zarejestruj, aby wziąć udział w quizie i odkryć hobby dopasowane do Twojej osobowości.</p>
    {% endif %}
</body>
</html>
