<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <!-- Nagłówek -->
    <header>
        <div class="logo-container">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('categories') }}">Kategorie</a></li>
                <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
                <li><a href="{{ url_for('about') }}">O aplikacji</a></li>
            </ul>
        </nav>
        <div class="login-container">           
        </div>
        <!-- Usunięty kontener logowania -->
    </header>

    <!-- Formularz logowania -->
    <div class="container">
        <form method="post">
            <!-- Nazwa użytkownika lub e-mail -->
            <label for="username_or_email">Nazwa użytkownika lub adres e-mail:</label><br>
            <input type="text" id="username_or_email" name="username_or_email" required><br><br>

            <!-- Hasło -->
            <label for="password">Hasło:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <!-- Przycisk logowania -->
            <input type="submit" value="Zaloguj się">
        </form>
        <p>Nie masz konta? <a href="{{ url_for('signup') }}">Zarejestruj się</a></p>
    </div>
</body>
</html>
