<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('categories') }}">Kategorie</a></li>
                <li><a href="{{ url_for('single_question', question_id=1) }}">Quiz</a></li>
                <li><a href="{{ url_for('about') }}">O aplikacji</a></li>
            </ul>
        </nav>
        <div class="login-container">
            {% if current_user.is_authenticated %}
                <!-- Przycisk wylogowania -->
                <a href="{{ url_for('logout') }}">
                    <img src="{{ url_for('static', filename='images/logout.webp') }}" alt="Wyloguj się" class="login-icon">
                </a>
            {% else %}
                <!-- Przycisk logowania -->
                <a href="{{ url_for('login') }}">
                    <img src="{{ url_for('static', filename='images/login.webp') }}" alt="Zaloguj się" class="login-icon">
                </a>
            {% endif %}
        </div>
    </header>
    
<nav>
    <ul>
        <h1>Odkryj Swoje Hobby</h1>
        <p>Pytanie {{ question_id }} z {{ total_questions }}</p>
    </ul>
</nav>


    <div class="container">
        <form method="post">
            <div class="question">
                <p><strong>Pytanie:</strong> {{ question.question }}</p>
                <div class="options">
                    <label>
                        <input type="radio" name="question_{{ question.question_id }}" value="zdecydowanie_tak" required {% if answers[question_id|string] == 'zdecydowanie_tak' %}checked{% endif %}>
                        Zdecydowanie tak
                    </label><br>
                    <label>
                        <input type="radio" name="question_{{ question.question_id }}" value="chyba_tak" {% if answers[question_id|string] == 'chyba_tak' %}checked{% endif %}>
                        Chyba tak
                    </label><br>
                    <label>
                        <input type="radio" name="question_{{ question.question_id }}" value="nie_wiem" {% if answers[question_id|string] == 'nie_wiem' %}checked{% endif %}>
                        Nie wiem
                    </label><br>
                    <label>
                        <input type="radio" name="question_{{ question.question_id }}" value="chyba_nie" {% if answers[question_id|string] == 'chyba_nie' %}checked{% endif %}>
                        Chyba nie
                    </label><br>
                    <label>
                        <input type="radio" name="question_{{ question.question_id }}" value="zdecydowanie_nie" {% if answers[question_id|string] == 'zdecydowanie_nie' %}checked{% endif %}>
                        Zdecydowanie nie
                    </label>
                </div>
            </div>
            <div class="navigation">
                {% if question_id > 1 %}
                <a href="{{ url_for('single_question', question_id=question_id - 1) }}"><button type="button">Poprzednie pytanie</button></a>
                {% endif %}
                <input type="submit" value="Zatwierdź i przejdź dalej">
            </div>
        </form>

        
    </div>
</body>
</html>
